a {
  color: white !important;
  text-decoration: none;
  /* no underline */
}

.arrow {
  width: 61.8px;
  height: 100px;
  position: absolute;
  top: 50%;
  padding: 5px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: #fff;
  cursor: pointer;
  background-color: rgb(184, 184, 184);
  opacity: 0.3;
  border-radius: 5px
}

.arrow:hover {
  transition: 0.1s;
  opacity: 1;
}

.arrow--left {
  left: 5px;
}

.arrow--right {
  left: auto;
  right: 5px;
}

.navigation-wrapper {
  position: relative;
}

.dots {
  display: flex;
  padding: 10px 0;
  justify-content: center;
}

.dot {
  border: none;
  width: 10px;
  height: 10px;
  background: #c5c5c5;
  border-radius: 50%;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
}

.dot:focus {
  outline: none;
}

.dot.active {
  background: rgb(79, 147, 250);
}

img {
  max-height: 520px;
}

.zoom-in {
  max-height: 400px;
  width: auto;
  max-width: 100%;
  display: block;
  cursor: zoom-in;
  margin: auto;
  border: solid 1px rgb(238, 238, 238)
}


.is-close {
  display: none
}

.summaryTitle {
  text-align: center;
  margin: 2rem auto 3rem !important;

}


.githubUrlBtn {
  background: linear-gradient(to bottom right, #000000, #031c50);
  border: 0;

  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  width: 10rem;
}



.githubUrlBtn:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem #252525, .125rem .125rem 1rem #738dc58e;
}

.appUrlBtn {
  background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
  border: 0;

  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  width: 10rem;
}


.appUrlBtn:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(180, 134, 134, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.gallery-btn-section {
  display: flex;
  justify-content: space-evenly;
  margin: 2rem auto;
}



.projectContent {

  padding: 1rem !important;
}

@media only screen and (max-width: 1000px) {
  img {
    max-height: 800px;
  }

}