.wrapper {
    padding:50px;
    min-width:100%;
    min-height:10em;
    background-color:rgb(233, 233, 233);
    transition: ease all 0.25s;
}
.portfolio-text {
    font-size:60px;
    font-weight:400
}

.about-text {
    font-size:30px;
    font-weight:300
}
.skills-text {
    font-size:25px;
    font-weight:300
}

